.tweet-input{
    display: flex;
    padding-top: 20px;
    height: 140px;

    border-bottom: 1px solid rgb(232, 232, 232);
}

.profile-section{
    display: flex;
    flex-direction: column;
    width: 65px;

    align-items: center;
}

.input-section{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.type-section{
    flex: 1;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid rgb(232, 232, 232);
}



.profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    overflow: hidden;
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.text-input{
    border: none;
    font-size: 20px;
    padding-top: 14px;
    padding-right: 10px;

    margin-right: 10px;

    width: 95%;
    
    margin-bottom: 20px;

}

.text-input:focus{
    outline: none;

}

.text-input::placeholder{
    color: rgb(99, 99, 99);
}

.visibility img{
    width: 18px;
}

.visibility{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 6px;

}

.visibility p{
    font-weight: bolder;
    font-size: 14px;
    color: rgb(57, 140, 229);
}

.reply-by{
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 2px 10px;
    border-radius: 20px;
    transition: background-color 0.15s;

    cursor: pointer;
}

.reply-by:hover{
    background-color: rgb(194, 224, 244);;
}

.space{
    flex: 1;
}


.tool-section{
    height: 50px;

    display: flex;
    align-items: center;
    padding: 4px 0px;
    
}

.tools{
    flex: 1;
    display: flex;

    gap: 10px;

}

.tool-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.tool-icon-container .tool-tip{
    margin: 0px;
    top: 35px;
}

.tool-icon-container:hover{
    .tool-tip{
        opacity: 1;
        transition-delay: 0.5s;
    }
}

.tools svg{
    width: 20px;
    fill: rgb(57, 140, 229);
    cursor: pointer;

    padding: 6px;
    border-radius: 22px;

    transition: display 0.15s;

}

.tools svg:hover{
    background-color: rgb(223, 242, 255);
}

@media (max-width: 600px){
    .poll,
    .schedule{
        display: none;
    }
}

.post-button{
    background-color: grey;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    margin-right: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.post-button:hover{
    background-color: rgb(21, 21, 21);
}