.left-section{
    flex: 1;
    display: flex;
    justify-content: right;

    margin-left: 10px;

}

.navigation{
    width: 60px;

    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 10px 0px;
}

.left-space{
    flex: 1;
    background-color: gray;
    overflow: hidden;
}

.x-logo{
    width: 60px;
    aspect-ratio: 1/1;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
    margin-left: -7px;
    cursor: pointer;

}

.navigation svg{
    width: 35px;
    height: 35px;
    fill: black;
}

.all-icons svg{
    width: 26px;
    height: 26px;

}

.all-icons{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;


    margin-bottom: 10px;

}

.icon-container,
.icon-container2,
.icon-container3,
.icon-container4{
    height: 44px;
    aspect-ratio: 1/1;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    margin-bottom: 10px;
    cursor: pointer;

    position: relative;

}

.tool-tip{
    position: absolute;
    top: 47px;

    font-size: 11px;
    background-color: rgba(60, 60, 60, 0.798);
    color: white;
    padding:4px 5px;
    border-radius: 2px;

    opacity: 0;
    transition: opacity 0.15s;
    transition-delay: 0s;
}

.icon-container:hover,
.icon-container2:hover,
.icon-container3:hover,
.icon-container4:hover,
.x-logo:hover{
    background-color: rgb(235, 235, 235);

    .tool-tip{
        opacity: 1;
        transition-delay: 0.5s;
    }

    
}

@container left-section (max-width: 120px){
    .tool-tip{
        left:20px;
    }
}

.quote-button{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
    cursor: pointer;

    transition: opacity 0.15s;
}

.quote-button:hover{
    opacity: 0.8;

    .tool-tip{
        opacity: 1;
        transition-delay: 0.5s;
    }
}

.quote-button .tool-tip{
    top: 52px;
    background-color: rgba(60, 60, 60, 0.998);

}



.quote-container{
    width: 50px;
    aspect-ratio: 1/1;
    background-color: black;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.quote-container p{
    display: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.quote-container svg{
    fill: white;
    width: 26px;
}




@media (max-height:800px){
    .icon-container2{
        display: none;
    }

    @media (max-height:714px){
        .icon-container3{
            display: none;
        }

        @media (max-height: 630px){
            .icon-container4{
                display: none;
            }
        }
    }


    
}


.tweet-profile{
    cursor: pointer;
}

.left-section .tweet-profile{
    background-color: green;
    padding: 0px;
    margin-left: -10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;

}

.left-section .tweet-profile p{
    text-wrap: nowrap;
}

.my-profile{
    display: flex;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}

.my-profile:hover{
    background-color: rgb(241, 241, 241);
}

.my-profile-details{
    margin-left:12px;
    width: 130px; 

    display: none;
}

.my-profile-details p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my-profile-name{
    font-size: 16px;
    font-weight: 600;
}

.my-profile-id{
    color: rgb(77, 77, 77);
}

.more-svg2 svg{
    width: 20px;
    
}

.more-svg2{
    margin-left: 10px;
    display: none;
}

.nav-details{
    width: 200px;
    padding-top: 99.4px;
    display: flex;
    flex-direction: column;

    display: none;
}

.icon-container p,
.icon-container2 p,
.icon-container3 p,
.icon-container4 p{
    font-size: 22px;
    color: rgb(42, 42, 42);
    display: none;
}

