.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100vh;

    overflow: auto;

}

.left-section{
    flex: 1;
    height: 100%;
    max-width: 70px;

    position: sticky;
    z-index: 10;
    top: 0px;

}

.middle-section{
    flex: 1;
    background-color: rgb(255, 255, 255);

    max-width: 600px;
    min-width: 400px;
    overflow-y: auto;

    position: relative;
    z-index: 1000;

    margin-right: 20px;
}

.middle-section::-webkit-scrollbar{
    display: none;
}


.right-section{

    width: 0px;

    border-bottom: 1px solid rgb(249, 249, 249);

    overflow: auto;

}

.right-section::-webkit-scrollbar{
    display: none;
}

.right-content::-webkit-scrollbar{
    display: none;
}

@media (min-width: 600px){
    .left-section{
        width: 100px;
    }
}

@media (min-width:700px) and (max-width: 1039px){
    .middle-section{
        min-width: 600px;
    }
    .left-section{
        flex: 1;
        max-width: 400px;
        
    }
    .right-section{
        flex: 1;
        opacity: 0;
    }
}

@media (min-width:1040px) and (max-width:1099px){
    .left-section{
        flex: 1;
        max-width: 70px;
    }
    .middle-section{
        min-width: 600px;
    }
    .right-section{
        flex: 1;
    }
}

@media (min-width:1100px)and (max-width:1109px){
    .left-section{
        flex: 1;
        max-width: 70px;
    }
    .middle-section{
        min-width: 600px;
    }
    .right-section{
        flex: 1;
    }
    .right-content{
        width: 340px;
    }

}

@media (min-width: 1110px){
    .left-section{
        flex: 1;
        max-width: 400px;
    }
    .middle-section{
        min-width: 600px;
    }
    .right-section{
        flex: 1;
        min-width: 350px;
    }

   @media (min-width:1250px){

    .quote-container svg{
        display: none;
    }

    .quote-container{
        width: 220px;
        height: 50px;
    }

    .navigation{
        width: 250px;
    }

    .icon-container,
    .icon-container2,
    .icon-container3,
    .icon-container4{
        padding: 0px 14px;
    }

    .quote-container p,
    .icon-container p,
    .icon-container2 p,
    .icon-container3 p,
    .icon-container4 p,
    .my-profile-details,
    .more-svg2{
        display: block;
        
    }

    .my-profile{
        padding: 8px 14px;
        margin-left: -16px;

    }

    .more-svg2{
         
    }

    .x-logo{
        margin-left: -2px;
    }


    .navigation .tool-tip{
        display: none;
    }

   }
}


.header{
    background-color: rgba(255, 255, 255, 0.509);
    height: 60px;

    border-bottom: solid 1px rgb(232, 232, 232);
    position: sticky;
    top: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 100px;

    backdrop-filter: blur(10px);

    z-index: 10000000;
    

}

.header p{
    font-weight: 600;
    cursor: pointer;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    gap: 12px;
}

.slider{
    height: 5px;
    background-color: rgb(57, 140, 229);
    border-radius: 10px;
    width: 100%;
}

.gap{
    flex: 1;
    max-width: 200px;
}

.following{
    color: rgb(95, 95, 95);
}

.content-section{
border: 1px solid rgb(232, 232, 232);

}

.more-svg{
    width: 20px;
}
